{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@root": "./",
          "@components": "./components",
          "@store": "./store",
          "@hooks": "./hooks",
          "@models": "./models",
          "@utils": "./utils",
          "@contexts": "./contexts"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
